---
import { actions } from "astro:actions";
import { auth } from "../../auth";
const subject = await auth(Astro.cookies);

const logoutResult = Astro.getActionResult(actions.logout);
if (logoutResult && !logoutResult.error) {
	return Astro.redirect(logoutResult.data);
}
---
<h1>Hello Admin</h1>
<div>
	{JSON.stringify(subject, null, 2)}
</div>

<form method="POST" action={actions.logout}>
	<button>Logout</button>
</form>





